doctype html
html(lang="ko")
    head
        title 덧셈/뺄셈
        link(rel="stylesheet", href="/style.css")
    body
        h1 덧셈/뺄셈
        p 아래 버튼을 눌러 더하기 또는 빼기 페이지로 이동하세요.
            div
                a(href="/math/sum")
                    button(type="button") 더하기
                |  
                a(href="/math/sub")
                    button(type="button") 빼기