form{
    height: 150px;
    width: 400px;
}
.calculator{
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
}
.column{
    display: block;
}
.col_1{
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 20%;
}
.col_2{
    height: 100%;
    width: 80%;
}
.form-group{
    height: 50%;
    width: 100%;
}
input, select{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

select{
    font-size: 40px;
    text-align: center;
    appearance: None;
    border: 0px;
}
option{
    font-size: 20px;
}
div.form-group > input{
    text-align: right;
    font-size: 25px;
    border: 0px;
}
div.result {
    text-align: right;
    font-size: 25px;
}