doctype html
html(lang="ko")
    head
        title Calculator 
        meta(charset='utf-8')
        link(rel='stylesheet', href='/style.css')
        block head
    body 
      form
        div
          input(type='number', name='x', required, placeholder='x')
          input(type='number', name='y', required, placeholder='y')
        div
          button.complete-btn.btn-sqre(type="submit", formaction='/math/add', formmethod='post') +
          button.complete-btn.btn-sqre(type="submit", formaction='/math/sub', formmethod='post') -
      
      if result 
        p #{result}
      else 
        br
      
      ul#cal-history 
        h2 caluate log
        each l in log
          span #{l}
          br